* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(./assets/background.jpeg) no-repeat center center fixed;
  background-size: cover;
}

body {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: auto;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.images {
  display: flex;
  opacity: 0;
  transition: transform 300ms ease-in-out;
}

.images.show {
  opacity: 1;
}

.images img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.button-left,
.button-right {
  border: 0;
  background-color: transparent;
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%) scale(1);
  transition: transform 100ms ease-in-out;
  text-shadow: 1px 1px 1px #000;
}

.button-left:hover,
.button-right:hover {
  transform: translateY(-50%) scale(1.2);
}

.button-left {
  left: 5px;
}

.button-right {
  right: 5px;
}

.progress-circle {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 30px;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  z-index: 2;
  transition: background-color 300ms ease-in-out;
}

.circle:hover {
  transform: scale(1.1);
  background-color: white;
}

.active {
  transform: scale(1.1);
  background-color: white;
}
